
body{
    background-color: black;
    color: white;
}
h1, h2 {
    padding : 10px 30px;
}

button {
    margin-left : 20%;
    padding : 10px;
}
#characterList {
    display: flex;
}

#enemiesList {
    display: flex;
}

#defenderSection {
    display: flex;
}
