
body{
    width: 80%;
    margin: auto;
    color: white;
    background: black url("../images/bg_walker.png") fixed no-repeat center;
}
h1, h2 {
    padding : 10px 30px;
}

button {
    margin-left : 20%;
    padding : 10px;
}
#characterList {
    display: flex;
}

#enemiesList {
    display: flex;
}

#defenderSection {
    display: flex;
}

#statusSection {
    font-size : 2em;
    opacity: .8;
    background-color: grey;
}
